<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {{ if not .IsHome }}
      {{ .Title }}
    {{ else }}
      {{ $.Site.Title }}
    {{ end }}
  </title>


  <link rel="shortcut icon" type="image/x-icon" href="{{ $.Site.Params.favicon | relURL }}" />
  {{ $options := (dict "outputStyle" "compressed" "enableSourceMap" (not hugo.IsProduction)) }}
  {{ $sass := resources.Get "css/main.scss" }}
  {{ $style := $sass | resources.ToCSS $options }}
  <link rel="stylesheet" href="{{ $style.Permalink | relURL }}" />
  {{ if .Params.mathjax }} {{ partial "mathjax.html" . }} {{ end }}
</head>
